*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-link{
    font-family: 'Rye', cursive;
    font-size: 17px;
    color:white; 
    letter-spacing: 1.4px;
    padding: 8px 10px;

}
.nav-item{
    margin: 0px 4px 0px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;

}
.active{
    border-top: 1px solid whitesmoke;
    background-color: #474747;
    border-radius: 4px;
}
.nav-link:hover{
    background-color:rgba(71, 70, 70, 0.947);
    color: white;
    border-radius: 4px;
  
    
}
.nav-link::after{
    content: "";
    display: block;
    background: whitesmoke;
    height: 2px;
    width: 0;
    transition: width .3s;
}
.nav-link:hover::after{
    width: 100%;
    transition: width .8s;
}




.rrss{
    font-size: 27px;

}

.rrss>a{
    padding: 0px 5px;
    color:white;    
}


.fa-instagram:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 8px;
    
}

.fa-whatsapp:hover{
    background: rgb(5, 159, 48);
    border-radius: 15px;
  
    
}
.fa-telegram:hover{
    color: rgb(2, 100, 142);
    background-color: white;
    border-radius: 15px;
}
.fa-brands{
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.635);

}

.bgFondoHome{
    background-image:linear-gradient(rgba(59, 58, 58, 0.63),rgba(0, 0, 0, 0.89)),url(/assets/img/fondo.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: bottom;
    padding: 80px 0px 0px;
}
.titlePrincipal{
    padding: 230px 0px 0px 0px;
    font-size:58px;
    color: aliceblue;
    -webkit-text-stroke: 2px grey;
    font-family: 'Creepster', cursive;
    text-shadow: 4px 5px rgba(0, 0, 0, 0.58);

    
}
.titlePrincipal>h3{
    -webkit-text-stroke:1px rgb(63, 23, 31);
    color:rgb(196, 196, 196);
    font-size:35px;

}

.btnReservar{
    padding: 15px 10px;
    margin: 15px 0px 0px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(0deg, rgb(19, 3, 1) 0%, rgb(65, 21, 3) 100%);

}

.btnReservar:hover{
    background: linear-gradient(0deg, rgb(97, 26, 17) 0%, rgb(65, 21, 3) 100%);

}
.btnTurno{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Forum', cursive;
}

/*Cards*/

.card{
    background-color: black;
    margin: 15px 0px;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    
}
.card>img{
    border-radius: 7px;
}
.card:hover{
    transform: scale(1.02);
    transition: 0.5s;
    filter:brightness(0.6);
}
.contCards{
    display: flex;
    flex-direction:row;
    column-gap: 15px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.contGral{
    background-color: rgb(43, 42, 42);
}
.subContGral{
    background-image:linear-gradient(rgba(23, 23, 23, 0.897),rgba(57, 55, 55, 0.619)),url(https://wallpaper.dog/large/973634.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 3px;

}
.card>img{
    width: 280px;
    height: 374px;
}

/*Comienza seccion questions */
#Questions{
    background-color: #474747;
}
.contQuestions{
    background-color: rgb(31, 31, 31);
    padding: 100px 45px 140px;
}
.accordion-button:focus{
    z-index: 0;
    border:1px solid grey;  
    color: white;
    box-shadow: unset;
}
.accordion-item{
    border: 1px solid whitesmoke;
}
.accordion-button,.accordion-body{
    background-color:rgb(80, 76, 76);
    color: whitesmoke;  
}
.accordion-button.collapsed::after,.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
.accordion-button:hover{
    z-index: 0;
}
.accordion-button:not(.collapsed){
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.847);
}

/*Comienza seccion contact */
#Contact{
    background-color: grey;
}
#Works>h4,#Questions>h4,#Contact>h4{
    text-align: center;
    padding: 85px 0px 10px;
    background-image:linear-gradient(rgba(65, 61, 61, 0.658),rgba(0, 0, 0, 0.904)),url(/assets/img/separador.jpg);
    background-position: center;
    color: white;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Chicano font';
    font-size: 45px;
    margin:0px;
    border-top:1px solid grey;
    
}

/*Comienza el footer*/
footer{
    background-color: #1b1b1b;

}
.copyright>h5{
    background-color: #1b1b1b;
    margin-bottom: 0px;
    padding: 30px;
    color: white;
}



.contContacto{
    padding: 70px;
}

@font-face {
    font-family: 'Bombing';
    src: url(/assets/fonts/Bombing.ttf);
}

@font-face {
    font-family: 'Chicano font';
    src: url(/assets/fonts/ChicanosPersonalUseRegular-qZDw5.ttf);
}

.logoFooter{
    font-family: 'Bombing';
    color: white;
    font-size: 30px;
    
}
.navbar-brand{
    font-family: 'Bombing';
    font-size: 37px;
    margin: 0px 40px 0px 0px;
}
