*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand, .nav-link{
    color:white;
    
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}



.rrss{
    font-size: 23px;
}

.rrss>a{
    padding: 0px 4px;
    color:aliceblue;
}

.bgFondoHome{
    background-image:linear-gradient(rgba(59, 58, 58, 0.63),rgba(0, 0, 0, 0.89)),url(/assets/img/fondo.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: bottom;
}
.titlePrincipal{
    padding: 280px 0px 0px 0px;
    
}
.titlePrincipal>h3{
    -webkit-text-stroke:1px rgb(63, 23, 31);
    color:rgb(196, 196, 196);
    font-size:35px;
    font-family: sans-serif;
}
.btnTurno>button{
    color: white;
    background-color: rgb(63, 23, 31);
    border-radius: 4px;
    padding: 8px;
    margin: 20px 0px 0px;
    font-size: 20px;
}

/*Cards*/

.card{
    background-color: black;
    margin: 15px 0px;
    
}

.contCards{
    display: flex;
    flex-direction:row;
    column-gap: 15px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.contGral{
    background-color: rgba(50, 50, 50, 0.947);
}
.subContGral{
    background-color: #474747;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23a09ca6' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.card>img{
    width: 280px;
}   
footer{
    background-color: #1b1b1b;

}
.copyright>h5{
    background-color: #1b1b1b;
    margin-bottom: 0px;
    padding: 30px;
    color: white;
}

#Works>h4{
    color: white;
    
}
#Contact{
    background-color: grey;
}
.contQuestions,.contContacto{
    padding: 70px;
}
