*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root{
    --fontprimary:'Monserrat';
    --fontsecondary:'Revalia';
}
html{
    font-size: 62.5%;
}
/* Navbar comienza */
.navbar-brand{
    font-family: 'Bombing';
    font-size: 34px;
    margin: 0px 40px 0px 0px;
}
.navbar-toggler-icon{
    font-size: 1.8em;
}


.nav-link{
    font-family: var(--fontprimary);
    font-size: 1.8em;
    color:white; 
    letter-spacing: 1.4px;
    padding: 8px 20px;
    margin: 4px 0px;
    display: inline-block;
   

}
li.nav-item{
    padding-top: 10px;
}
.nav-item{
    margin: 0px 4px 0px;
}

.navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
    box-shadow:2px 4px 8px rgba(0, 0, 0, 0.447);

}
/* Eliminanndo hoover en dispositivos moviles */
@media only screen and (min-width:1000px){
    .active{
        background-color: #474747;
        border-radius: 4px;
    }
    .nav-link:hover{
        background-color:rgba(71, 70, 70, 0.947);
        color: white;
        border-radius: 3px;
      
        
    }
   
}

/* Logo de redes sociales */
.rrss{
    font-size: 2.7em;

}

.rrss>a{
    padding: 0px 2px;
    color:white;    
}


.fa-instagram:hover{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 8px;
    
}

.fa-whatsapp:hover{
    background: rgb(5, 159, 48);
    border-radius: 15px;
  
    
}
.fa-telegram:hover{
    color: rgb(2, 100, 142);
    background-color: white;
    border-radius: 15px;
}
.fa-brands{
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.635);

}
/* Portada principal de pagina */
body{
    background-color: rgb(43, 42, 42);
}

.bgFondoHome{
    background-image:linear-gradient(rgba(59, 58, 58, 0.63),rgba(0, 0, 0, 0.89)),url(/assets/img/fondo.jpg);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: bottom;
    padding: 80px 0px 0px;
  
}
.titlePrincipal{
    padding:150px 25px 36px;
    -webkit-text-stroke:1px rgb(63, 23, 31);
    color:rgb(255, 255, 255);
    font-size:3.8em;
    padding-bottom: 4px;
    -webkit-text-stroke: 1px grey;
    text-shadow: 4px 5px rgba(0, 0, 0, 0.58); 
    
       
}
/* Centrado de texto principal dependiendo del dispositivo */
@media only screen and (min-width:300px) and (max-width:380px)  {
    .titlePrincipal{
        padding: 160px 20px 45px 20px;
    }
    
}
/* Celular */
@media only screen and (min-width:381px) and (max-width:425px)  {
    .titlePrincipal{
        padding: 180px 25px 45px;
        font-size: 4.5em;
    }
    
}

@media only screen and (min-width:765px) and (max-width:900px)  {
    .titlePrincipal{
        padding: 310px 20px 45px 5px;
        margin-left: 10px;
        font-size:4.3em;
    }
    .bgFondoHome>a{
        font-size:2em;
    }
    
}
@media only screen and (min-width:901px) and (max-width:1000px)  {
    .titlePrincipal{
        padding: 390px 40px 45px;
        font-size: 4.5em;
    }
    .bgFondoHome>a{
        font-size: 2.8em;
    }
    
}
/* Notebook */
@media only screen and (min-width:1001px) and (max-width:1600px)  {
    .titlePrincipal{
        padding: 250px 55px 45px;
        font-size: 5em;
    }
    
}
@media only screen and (min-width:1601px) and (max-width:2500px)  {
    .titlePrincipal{
        padding: 315px 55px 45px;
        font-size: 6em;
    }
    .bgFondoHome>a{
        font-size:2.3em;
    }
    
}

/* Btn debajo de texto principal  */
.btnReservar{
    padding: 15px 10px;
    margin: 15px 20px 0px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    background-color:transparent;
    color: white;
    text-decoration: none;
    font-size:1.4em;
    font-family:var(--fontprimary);

}

.btnReservar:hover{
    background-color: #2e2e2e;
    transition: 1.4s;

}
span>.fa-whatsapp{
    padding: 0px;
    margin: 6px;
}



#Questions,#Contact{
    min-height: 100vh;
}
/* Comienza seccion works */
#Works>h4{
    margin-bottom: 55px;
}
/*Cards*/
.card{
    background-color: black;
    margin: 5px 0px;
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    
}
.card>img{
    border-radius: 7px;
}
.card:hover{
    transform: scale(1.02);
    transition: 0.5s;
    filter:brightness(0.6);
}
.contCards{
    display: flex;
    flex-direction:row;
    column-gap: 15px;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}
.contGral,#contQuestions{
    background-color: rgb(43, 42, 42);

}

.subContGral{
    background-image:linear-gradient(rgba(23, 23, 23, 0.897),rgba(57, 55, 55, 0.619)),url(https://wallpaper.dog/large/973634.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    border-radius: 45px;


}
.card>img{
    width: 280px;
    height: 374px;
}

/*Comienza seccion questions */
#Questions,#Contact{
    background-color: rgb(43, 42, 42);

}
.contQuestions{
    padding: 55px 35px;
}
.accordion-button:focus{
    z-index: 0;
    border:1px solid grey;  
    color: white;
    box-shadow:unset;

}
.accordion-item{
    border: 1px solid whitesmoke;
    font-family:'Forum',cursive;
    font-size: 17px;
    letter-spacing: 1.5px;
    
}

.accordion-button,.accordion-body{
    background-color:rgb(80, 76, 76);
    color: whitesmoke;  
   
}

.accordion-button{
    font-size: 20px;
    font-family:sans-serif;
    font-weight: bold;
}

.accordion-button.collapsed::after,.accordion-button:not(.collapsed)::after{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
.accordion-button:hover{
    z-index: 0;
}
.accordion-button:not(.collapsed){
    color:whitesmoke;
    background-color: rgba(0, 0, 0, 0.847);

}

/*Comienza seccion contact */

#Works>h4,#Questions>h4,#Contact>h4{
    text-align: center;
    padding: 85px 0px 10px;
    background-image:linear-gradient(rgba(65, 61, 61, 0.658),rgba(0, 0, 0, 0.904)),url(/assets/img/separador.jpg);
    background-position: center;
    color: white;
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Chicano font';
    font-size: 45px;
    border-top:1px solid grey;
    
}

form{
    width: 100%;
}

.form-control,fieldset>.form-control:focus{
    background-color:rgb(80, 79, 79);
    color: white;

}
.contContacto{
    padding: 40px 55px;
    color: white;
    background-color: #181719;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233d3c3e' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    border: 1px solid grey;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    margin-bottom:40px;

}
fieldset>label{
    margin: 20px 0px;
}
.btn{
    background-color: rgb(101, 15, 4);
    color: white;
    margin: 18px 0px 0px;
}
#Questions>h4,#Contact>h4{
    margin: 55px 0px;
}

::-webkit-input-placeholder {
    color:rgba(255, 255, 255, 0.705) !important;
}

::-moz-placeholder {
    color:white;
}
::-ms-placeholder {
    color:white;
}
input:focus,textarea:hover{
    box-shadow: 1px 2px 2px 1px grey !important;
    border: 1px solid grey !important;
}

::placeholder {
    color:white
}
.btn:hover,.btn:focus{
    background-color:rgb(75, 11, 3);
    box-shadow: 1px 1px 1px 1px rgba(52, 51, 51, 0.603);

}

/*Comienza el footer*/
footer{
    background-color: #1b1b1b;

}

.copyright>h5{
    background-color: #1b1b1b;
    margin-bottom: 0px;
    padding: 15px 0px 10px;
    color: white;
    font-family:'Russo One';
}
.logoFooter{
    font-family: 'Bombing';
    color: white;
    font-size: 37px;
}

/* Importacion de fuentes */

@font-face {
    font-family: 'Bombing';
    src: url(../fonts/Bombing.ttf);
}

@font-face {
    font-family:'Revalia';
    src: url(../fonts/RussoOne-Regular.ttf);
}


@font-face {
    font-family:'Monserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}